<?xml version='1.1' encoding='UTF-8'?>
<project>
  <actions/>
  <description>OpenModelica Webアプリケーション サーバーサイドアプリケーション</description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.plugins.git.GitSCM" plugin="git@3.9.1">
    <configVersion>2</configVersion>
    <userRemoteConfigs>
      <hudson.plugins.git.UserRemoteConfig>
        <url>http://zsas006sv:8084/j_koike/OMWebAppEngine</url>
      </hudson.plugins.git.UserRemoteConfig>
    </userRemoteConfigs>
    <branches>
      <hudson.plugins.git.BranchSpec>
        <name>*/feature/*</name>
      </hudson.plugins.git.BranchSpec>
      <hudson.plugins.git.BranchSpec>
        <name>*/develop</name>
      </hudson.plugins.git.BranchSpec>
    </branches>
    <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
    <submoduleCfg class="list"/>
    <extensions/>
  </scm>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers>
    <hudson.triggers.SCMTrigger>
      <spec>H * * * *</spec>
      <ignorePostCommitHooks>false</ignorePostCommitHooks>
    </hudson.triggers.SCMTrigger>
  </triggers>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>if [ ! -d venv ]; then
  virtualenv --distribute venv
fi
. ./venv/bin/activate
pip install --upgrade pip
pip install -r requirements_ci.txt
pytest --junit-xml=test_result.xml || exit 0
coverage erase || exit 0
coverage run -m pytest || exit 0
coverage xml -i || exit 0
rm -f pylint-result.txt
pylint ./app -r n --msg-template=&quot;{path}:{line}: [{msg_id}({symbol}), {obj}] {msg}&quot; &gt;&gt; pylint-result.txt || exit 0
cd ./docs
make html</command>
    </hudson.tasks.Shell>
    <hudson.plugins.sonar.SonarRunnerBuilder plugin="sonar@2.8.1">
      <project></project>
      <properties># Project identification
sonar.projectName=OMWebAppEngine
sonar.projectKey=omwebappengine
sonar.projectVersion=0.5.0

# Info required for Sonar
sonar.sources=app/omwebapp
sonar.exclusions=**/tests/**
sonar.tests=app/omwebapp/tests
sonar.test.exclusions=**/tests/**
sonar.python.coverage.reportPath=coverage.xml
sonar.python.xunit.reportPath=test_result.xml
sonar.python.coveragePlugin=cobertura
sonar.python.pylint_config=.pylintrc
sonar.python.pylint.reportPath=pylint-result.txt

# Comma-separated paths to directories with sources (required)
sonar.language=py

#----- Default source code encoding
sonar.sourceEncoding=UTF-8</properties>
      <javaOpts></javaOpts>
      <additionalArguments></additionalArguments>
      <jdk>(Inherit From Job)</jdk>
      <task></task>
    </hudson.plugins.sonar.SonarRunnerBuilder>
  </builders>
  <publishers>
    <hudson.tasks.junit.JUnitResultArchiver plugin="junit@1.26.1">
      <testResults>test_result.xml</testResults>
      <keepLongStdio>false</keepLongStdio>
      <healthScaleFactor>1.0</healthScaleFactor>
      <allowEmptyResults>false</allowEmptyResults>
    </hudson.tasks.junit.JUnitResultArchiver>
    <org.jenkinsci.plugins.emotional__jenkins.EmotionalJenkinsPublisher plugin="emotional-jenkins-plugin@1.2"/>
  </publishers>
  <buildWrappers/>
</project>